# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog
title: "Wanyun Zhou's Personal Website"
email: "wzhou266@connect.hkust-gz.edu.cn"
description: "Wanyun Zhou's academic portfolio"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://wanyunzh.github.io" # the base hostname & protocol for your site
github_username: "wanyunzh"
repository: "wanyunzh/wanyunzh.github.io"

# Build settings
markdown: kramdown

remote_theme: academicpages/academicpages.github.io

plugins:
  - jekyll-feed
  - jekyll-include-cache

# Site Author
author:
  name: "Wanyun Zhou"
  avatar: "zhouwy_fig.png"
  email: "wzhou266@connect.hkust-gz.edu.cn" #
  github: "wanyunzh"                   # 
  # googlescholar: "你的Google Scholar ID"
  linkedin: "wanyun-zhou-06a07626b/"


# Site Settings
locale: "en-US"
breadcrumbs: false
words_per_minute: 160
read_more: "disabled"
comments:
  provider: # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"
atom_feed:
  hide: false
analytics:
  provider: false

# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _teaching
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# Outputting
permalink: /:categories/:title/
timezone: Etc/UTC # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
